{{ define "main" }}
<div class="content">
    <div class="block">
        <span class="icon-text">
            <span class="icon">
                <i class="fas fa-folder" aria-hidden="true"></i>
            </span>
            <span>{{ .Data.Term }}</span>
        </span>
    </div>
    {{ range .Data.Pages.GroupByDate "2006" }}
    <hr>
    <p>{{ .Key }}年</p>
    <ul>
        {{ range .Pages | first 1 }}
        <li>
            <a href="{{ .Permalink }}">{{ .Title }} | {{ .Date.Format "01-02"}}</a>
        </li>
        {{ end }}
    </ul>
    {{ end }}
</div>
{{ end }}