{{ define "article-list" }}
    {{ $paginator := .Paginate (where .Site.RegularPages "Section" "posts") }}
    {{ range $paginator.Pages }}
    <article class="block">
        <div class="content">
            {{ if .Params.cover_image }}
            <div class="image">
                <img src="{{ .Params.cover_image }}">
            </div>
            {{ end }}
            <h1 class="title">
                <a href="{{ .Permalink }}">{{ .Title }}</a>
            </h1>
            <!--                    <p class="subtitle">-->
            <!--                        My first website with <strong>Bulma</strong>!-->
            <!--                    </p>-->
            <div class="block">
                <span class="icon-text">
                    <span class="icon">
                        <i class="far fa-calendar-alt" aria-hidden="true"></i>
                    </span>
                    <span>{{ .Date.Format "2006-01-02" }}</span>
                </span>
                <span class="icon-text">
                    <span class="icon">
                        <i class="fas fa-pencil-alt" aria-hidden="true"></i>
                    </span>
                    <span>约{{ .WordCount }}字</span>
                </span>
                <span class="icon-text">
                    <span class="icon">
                        <i class="far fa-clock" aria-hidden="true"></i>
                    </span>
                    <span>预计阅读{{ .ReadingTime }}分钟</span>
                </span>
            </div>
            {{ if .Truncated }}
            {{ .Summary  }}......
            <a href="{{ .Permalink }}">阅读更多</a>
            {{ else }}
            {{ .Content }}
            {{ end }}
        </div>
        <hr>
    </article>
    {{ end }}
{{ end }}