{{ define "article-list" }}
    {{ range where .Site.RegularPages "Section" "posts" }}
    <article class="block">
        <div class="content">
            {{ if .Params.article_image_url }}
            <div class="image is-16by9">
                <img src="{{ .Params.article_image_url }}">
            </div>
            {{ end }}
            <h1 class="title">
                <a href="{{ .Permalink }}">{{ .Title }}</a>
            </h1>
            <!--                    <p class="subtitle">-->
            <!--                        My first website with <strong>Bulma</strong>!-->
            <!--                    </p>-->
            <div class="block">
                <span class="icon-text">
                    <span class="icon">
                        <i class="fas fa-calendar-alt" aria-hidden="true"></i>
                    </span>
                    <span>2021-04-29</span>
                </span>
                <span class="icon-text">
                    <span class="icon">
                        <i class="fas fa-pencil-alt" aria-hidden="true"></i>
                    </span>
                    <span>939字</span>
                </span>
                <span class="icon-text">
                    <span class="icon">
                        <i class="far fa-clock" aria-hidden="true"></i>
                    </span>
                    <span>2分钟</span>
                </span>
            </div>
            {{ .Summary  }}......
            <a href="{{ .Permalink }}">阅读更多</a>
        </div>
        <hr>
    </article>
    {{ end }}
{{ end }}