{{ define "article-list" }}
    {{ $paginator := .Paginate (where .Site.RegularPages "Section" "posts") }}
    {{ $articleList := $paginator.Pages }}
    {{ $length := len $articleList | add -1 }}
    {{ range $index, $element := $articleList }}
<!--{ { range $articleList }}-->
    <article class="block">
        <div class="content">
            {{ if .Params.coverImage }}
            <div class="image">
                <img src="{{ .Params.coverImage }}">
            </div>
            {{ end }}
            <h1 class="title">
                <a href="{{ .Permalink }}">{{ .Title }}</a>
            </h1>
            <!--                    <p class="subtitle">-->
            <!--                        My first website with <strong>Bulma</strong>!-->
            <!--                    </p>-->
            <div class="block">
                <span class="icon-text">
                    <span class="icon">
                        <i class="far fa-calendar-alt" aria-hidden="true"></i>
                    </span>
                    <span>{{ .Date.Format "2006-01-02" }}</span>
                </span>
                <span class="icon-text">
                    <span class="icon">
                        <i class="fas fa-pencil-alt" aria-hidden="true"></i>
                    </span>
                    <span>约{{ .WordCount }}字</span>
                </span>
                <span class="icon-text">
                    <span class="icon">
                        <i class="far fa-clock" aria-hidden="true"></i>
                    </span>
                    <span>预计阅读{{ .ReadingTime }}分钟</span>
                </span>
            </div>
            {{ if .Truncated }}
            {{ .Summary  }}&hellip;&hellip;<a href="{{ .Permalink }}">阅读全文</a>
            {{ else }}
            {{ .Content }}
            {{ end }}
        </div>
        <!--
        1. 如果当前文章为最后一篇
            1.1. 如果有下一页，保留<hr>
            1.2. 如果有上一页，保留<hr>
            1.3. 否则，移除<hr>
        2. 否则保留<hr>
        -->
        {{ if eq $index $length }}
        {{ if $paginator.HasNext }}
        <hr>
        {{ else if $paginator.HasPrev }}
        <hr>
        {{ end }}
        {{ else }}
        <hr>
        {{ end }}
    </article>
    {{ end }}
{{ end }}