<article class="block">
    <div class="content">
        {{ if .Params.cover_image }}
        <div class="image">
            <img src="{{ .Params.cover_image }}">
        </div>
        {{ end }}
        <h1 class="title">{{ .Title }}</h1>
<!--        <p class="subtitle">-->
<!--            My first website with <strong>Bulma</strong>!-->
<!--        </p>-->
        <div class="block">
            <span class="icon-text">
                <span class="icon">
                    <i class="far fa-calendar-alt" aria-hidden="true"></i>
                </span>
                <span>{{ .Date.Format "2006-01-02" }}</span>
            </span>
            <span class="icon-text">
                <span class="icon">
                    <i class="fas fa-pencil-alt" aria-hidden="true"></i>
                </span>
                <span>约{{ .WordCount }}字</span>
            </span>
            <span class="icon-text">
                <span class="icon">
                    <i class="far fa-clock" aria-hidden="true"></i>
                </span>
                <span>预计阅读{{ .ReadingTime }}分钟</span>
            </span>
            <!--    <span class="icon-text">-->
            <!--        <span class="icon">-->
            <!--            <i class="fas fa-tags"></i>-->
            <!--        </span>-->
            <!--        <span>标签</span>-->
            <!--    </span>-->
            <!--    <span class="icon-text">-->
            <!--        <span class="icon">-->
            <!--            <i class="far fa-user"></i>-->
            <!--        </span>-->
            <!--        <span>作者</span>-->
            <!--    </span>-->
        </div>
        {{ .Content }}
    </div>
    {{ if .Params.categories }}
    <div>
        <span class="icon-text">
            <span class="icon">
                <i class="fas fa-folder-open"></i>
            </span>
            <span>分类：</span>
            {{ range .Params.categories }}
            <a href="/categories/{{ . }}">{{ . }}</a>
            <span>&nbsp;</span>
            {{ end }}
        </span>
    </div>
    {{ end }}
    {{ if .Params.tags }}
    <div>
        <span class="icon-text ">
            <span class="icon">
                <i class="fas fa-tags"></i>
            </span>
            <span>标签：</span>
            {{ range .Params.tags }}
            <a href="/tags/{{ . }}">[{{ . }}]</a>
            <span>&nbsp;</span>
            {{ end }}
        </span>
    </div>
    {{ end }}
    <hr>
</article>
<!-- 分页 -->
<nav class="pagination is-rounded is-centered" role="navigation" aria-label="pagination">
    {{ if .NextInSection }}
    <!-- 判断标题长度，超过15截取 -->
    <a class="pagination-previous" href="{{ .NextInSection.Permalink }}">上一篇：{{ .NextInSection.Title }}</a>
    {{ else }}
    <a class="pagination-previous" disabled>上一篇：没有了</a>
    {{ end }}
    {{ if .PrevInSection }}
    <a class="pagination-next" href="{{ .PrevInSection.Permalink }}">下一篇：{{ .PrevInSection.Title }}</a>
    {{ else }}
    <a class="pagination-next" disabled>下一篇：没有了</a>
    {{ end }}
</nav>
<!-- TODO 右侧悬浮目录 -->