<article class="block">
    <div class="content">
        {{ if .Params.coverImage }}
        <div class="image">
            <img src="{{ .Params.coverImage }}" alt>
        </div>
        {{ end }}
        <h1 class="title">{{ .Title }}</h1>
<!--        <p class="subtitle">-->
<!--            My first website with <strong>Bulma</strong>!-->
<!--        </p>-->
        <div class="block">
            <span class="icon-text">
                <span class="icon">
                    <i class="far fa-calendar" aria-hidden="true"></i>
                </span>
                <span>{{ .Date.Format "2006-01-02" }}</span>
            </span>
            <span class="icon-text">
                <span class="icon">
                    <i class="fas fa-pencil" aria-hidden="true"></i>
                </span>
                <span>约{{ .WordCount }}字</span>
            </span>
            <span class="icon-text">
                <span class="icon">
                    <i class="far fa-clock" aria-hidden="true"></i>
                </span>
                <span>预计{{ .ReadingTime }}分钟</span>
            </span>
            <span class="icon-text">
                <span class="icon">
                    <i class="far fa-eye" aria-hidden="true"></i>
                </span>
                <span>已浏览<span class="page_pv">多</span>次</span>
            </span>
            <!--    <span class="icon-text">-->
            <!--        <span class="icon">-->
            <!--            <i class="fas fa-tags"></i>-->
            <!--        </span>-->
            <!--        <span>标签</span>-->
            <!--    </span>-->
            <!--    <span class="icon-text">-->
            <!--        <span class="icon">-->
            <!--            <i class="far fa-user"></i>-->
            <!--        </span>-->
            <!--        <span>作者</span>-->
            <!--    </span>-->
        </div>
        {{ if ne .Date .Lastmod }}
        <p class="notification is-no-padding is-warning is-light">
            <span class="icon">
                <i class="far fa-bell"></i>
            </span>
            本文最后更新于 {{ .Lastmod.Format "2006-01-02 15:04:05" }}
        </p>
        {{ end }}
        {{ .Content }}
        <p>&nbsp;</p>
    </div>
    {{ if .Params.categories }}
    <div>
        <span class="icon-text">
            <span class="icon">
                <i class="far fa-folder-open"></i>
            </span>
<!--            <span>分类：</span>-->
            {{ range .Params.categories }}
            <span><a href="/categories/{{ lower . }}">{{ . }}</a></span>
            <span>&nbsp;</span>
            {{ end }}
        </span>
    </div>
    {{ end }}
    {{ if .Params.tags }}
    <div>
        <span class="icon-text ">
            <span class="icon">
                <i class="fas fa-tags"></i>
            </span>
<!--            <span>标签：</span>-->
            {{ range .Params.tags }}
            <span><a href="/tags/{{ lower . }}">[{{ . }}]</a></span>
            <span>&nbsp;</span>
            {{ end }}
        </span>
    </div>
    {{ end }}
    <hr>
</article>
<!-- 分页 -->
<nav class="pagination is-rounded is-centered" role="navigation" aria-label="pagination">
    {{ if .NextInSection }}
    <!-- 判断标题长度，超过15截取 -->
    {{ $length := .NextInSection.Title | strings.RuneCount }}
    {{ if gt $length 15}}
    {{ $previousTitle := substr .NextInSection.Title 0 15 }}
    <a class="pagination-previous" href="{{ .NextInSection.Permalink }}">上一篇：{{ $previousTitle }}&hellip;</a>
    {{ else }}
    <a class="pagination-previous" href="{{ .NextInSection.Permalink }}">上一篇：{{ .NextInSection.Title }}</a>
    {{ end }}
    {{ else }}
    <a class="pagination-previous" disabled>上一篇：没有了</a>
    {{ end }}
    {{ if .PrevInSection }}
    {{ $length := .PrevInSection.Title | strings.RuneCount }}
    {{ if gt $length 15}}
    {{ $nextTitle := substr .PrevInSection.Title 0 15 }}
    <a class="pagination-next" href="{{ .PrevInSection.Permalink }}">下一篇：{{ $nextTitle }}&hellip;</a>
    {{ else }}
    <a class="pagination-next" href="{{ .PrevInSection.Permalink }}">下一篇：{{ .PrevInSection.Title }}</a>
    {{ end }}
    {{ else }}
    <a class="pagination-next" disabled>下一篇：没有了</a>
    {{ end }}
</nav>
<!-- TODO 右侧悬浮目录 -->