{{ define "social" }}
<div class="block">
    {{ if .Params.social.twitter }}
    <span class="icon">
        <a href="{{ .Params.social.twitter }}"><i class="fab fa-twitter"></i></a>
    </span>
    {{ end }}
    {{ if .Params.social.facebook }}
    <span class="icon">
        <a href="{{ .Params.social.facebook }}"><i class="fab fa-facebook"></i></a>
    </span>
    {{ end }}
    {{ if .Params.social.instagram }}
    <span class="icon">
        <a href="{{ .Params.social.instagram }}"><i class="fab fa-instagram"></i></a>
    </span>
    {{ end }}
    {{ if .Params.social.weixin }}
    <span class="icon">
        <a href="{{ .Params.social.weixin }}"><i class="fab fa-weixin"></i></a>
    </span>
    {{ end }}
    {{ if .Params.social.weibo }}
    <span class="icon">
        <a href="{{ .Params.social.weibo }}"><i class="fab fa-weibo"></i></a>
    </span>
    {{ end }}
    {{ if .Params.social.github }}
    <span class="icon">
        <a href="{{ .Params.social.github }}"><i class="fab fa-github"></i></a>
    </span>
<!--    <span class="icon" aria-describedby="mytest001">-->
<!--        <a href="{{ .Params.social.github }}"><i class="fab fa-github"></i></a>-->
<!--    </span>-->
<!--    <span role="tooltip" class="icon" id="mytest001" aria-hidden="true">-->
<!--        <i class="fas fa-rss"></i>-->
<!--    </span>-->
    {{ end }}
    {{ if .Params.social.email }}
    <span class="icon">
        <a href="mailto:{{ .Params.social.email }}"><i class="fas fa-envelope"></i></a>
    </span>
    {{ end }}
    <span class="icon">
        <a href="/index.xml"><i class="fas fa-rss"></i></a>
    </span>
</div>
{{ end }}