{{ define "main" }}
<div class="block">
    <span class="icon-text">
        <span class="icon">
            <i class="fas fa-tags" aria-hidden="true"></i>
        </span>
        <span>标签汇总</span>
    </span>
</div>
<hr>
<div class="field is-grouped is-grouped-multiline">
    {{- range $.Site.Taxonomies.tags.ByCount -}}
    <div class="control">
        <div class="tags has-addons">
            <a class="tag is-primary" href="{{ .Page.RelPermalink }}">{{ .Page.Title }}</a>
            <a class="tag">{{ .Count }}</a>
        </div>
    </div>
    {{- end -}}
    <!-- TODO 可以考虑用sup元素来展示标签数量 -->
</div>
{{ end }}